 /* Colors 
 Yellow : #FFBE00
 Navy : #192B37
 */



* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* Temporary styles for structural html */

section {
    border: 1px solid lightgrey;
}

body { 
    font-family: 'Catamaran', sans-serif;
    color: #192B37;
}

/* Image styles  */
.bg-image{
    background-image: url('/images/chien.jpg');
    background-size: cover;
    min-height: 10rem;

}

/* Universal styles & utility classes */
.padded    { padding: 5% ;}
.padded-sm { padding: 1rem;}

.bg-dark  {
    background-color: #192B37;
    color: white;
}

.featured-text {color: #FFBE00;}

.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }

.tall-80     {min-height: 80vh;}
.tall-90     {min-height: 90vh;}
.tall-100     {min-height: 100vh;}

/* Header styles */
header{
    background-image: url('/images/white-bed.jpg');
    background-size: cover;
    background-position: center;
}

header h3 {
    font-size: 4.5rem;
    line-height: 1;
}

header h1 {
    font-weight: 200;
}

/* Gallery styles */
.title-gallery {
    font-size: 2rem;
}